@font-face {
    font-family: "KayakSans_Light";
    src: url('../fonts/Kayak\ Sans\ Light.otf');
}
@font-face {
    font-family: "KayakSans_Bold";
    src: url('../fonts/Kayak\ Sans\ Bold.otf');
}
@font-face {
    font-family: "KayakSans";
    src: url('../fonts/Kayak\ Sans\ Regular.otf');
}
input{
    outline: none;
}
body{
    background-color: #fff;
}

/* style for header */
.header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/header_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.header_bg_img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    z-index: 1;
}
.header_bg_img img{
    width: 100%;
}
/* main container */
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1570px;
}
.right_col_header{
    padding-right: 0;
}
.header_content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
}
.header_content_row{
    margin-top: 150px;
}
.nav{
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.main_btn{
    background-color: #5fb709;
    color: #fff;
    padding: 15px 32px 11px 28px;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "KayakSans_Bold";
    transition: all .3s;
}
.main_btn:active{
    transform: translateY(10px);
}
.main_title{
    color: #000;
    font-size: 50px;
    font-family: "KayakSans_Bold";
    line-height: 70px;
}
.header_title_strong{
    color: #5fb709;
    font-weight: 900;
}
.header_row__text{
    margin-top: 30px;
    margin-bottom: 50px;
    color: #313131;
    font-family: "KayakSans";
    font-size: 21px;
}
@media screen and (max-device-width: 992px){
    .main_title{
        line-height: 50px;
    }
    .header_content_row{
        text-align: center;
    }
}
@media screen and (max-device-width: 768px){
    .onion_img{
        width: 25%;
    } 
    .header_row__text{
        margin-top: 10px;
        margin-bottom: 10px;
    }   
}


/* end style for header*/

/* style for second page*/
.second_page{
    width: 100%;
}
.second_p_second_r_img{
    width: 100%;
}
.second_p_form{
    margin-top: 65px;
}
.delivery_field{
    padding: 28px 0 28px 35px;
    border-radius: 9px;
    border: 1px solid #9b9a9a;
    font-size: 14px;
    width: 100%;
}
.delivery_field:focus{
    border-radius: 9px;
    border: 1px solid #9b9a9a;
}
.find_food{
    width: 100%;
    max-width: 200px;
    height: 100%;
    font-size: 18px;
    max-height: 70px;
}
@media screen and (max-device-width:640px){
    .second_p_second_r_img{
        width: 75%;
    }
   .second_p_container{
       text-align: center;
   }
   .find_food{
       max-width: 100%;
       width: 100%;
       margin-top: 5px;
   }
}
/* end style for second page*/

/* style for the third page*/
.third_page{
    width: 100%;
    background-image: url('../img/local_restaurant_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.third_page_bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.third_p_img1{
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 2%;
    width: 20%;
}
.third_p_img2{
    position: absolute;
    z-index: 1;
    bottom: 2%;
    left: 0px;
    width: 30%;
}
.third_page_wrapper{
    padding-top: 260px;
    padding-bottom: 295px;
}
.smartphone{
    width: 100%;
}
.third_p_img3{
    padding: 122px 0 145px 160px;
}
@media screen and (max-device-width:992px){
    .third_p_img3{
        padding: 182px 0 25px 0;
    }
    .third_page_wrapper{
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .smartphone{
        width: 60%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .third_p_img1{
        display: none;
    }
    .third_p_img2{
        width: 50%;
    }
 }
/* end atyle for the third page*/

/* style for the fourth section */
.fourth_page{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.fourth_p_img1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.fourth_p_img3{
    position: absolute;
    right: 0;
    bottom: 50%;
}
.fours_p_img2{
    padding-left: 315px;
    padding-bottom: 125px;
}
.fours_p_img4{
    margin-top: 155px;
}
@media screen and (max-device-width: 992px){
    .fourth_p_content{
        text-align: center;
        margin-top: 300px;
        margin-bottom: 200px;
    }
    .fourth_p_img1{
        width: 75%;
    }
    .fours_p_img2{
        display: none;
    }
    .fours_p_img4{
        margin-top: 35px;
    }
    .fourth_p_img3{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
/* end style for the fourth section */

/* page5 style*/
.page5{
    width: 100%;
    background-image: url('../img/local_restaurant_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}

.page5_content{
    padding-top: 245px;
    padding-bottom: 285px;
}
.page5_phone_img{
    width: 100%;
}
.page5_img_1{
    padding-left: 452px;
}
.page5_img_2{
    padding-left: 140px;
}
@media screen and (max-device-width: 992px){
    .page5_content{
        padding-top: 150px;
        padding-bottom: 85px;
        text-align: center;
    }
    .page5_img_2{
        padding-left: 0;
        width: 100%;
    }
    .page5_img_1{
        display: none;
    }
    .page5_phone_img{
        width: 50%;
    }
}
@media screen and (max-device-width:768px){
   
}
/* end style for the page5*/

/* get_app section */
.get_app{
    margin-top: -15%;
    width: 100%;
    position: relative;
    background-color: #fff;  
    z-index: 1; 
}
.get_app_img1{
    position: absolute;
    right: 0;
    bottom: 10%;
}
.get_app_img4{
    position: absolute;
    left: 2%;
    top: 15%;
    z-index: 0;
    width: 40%;
}
.get_app_img3{
    position: absolute;
    right: 4%;
    top: 10%;
    width: 15%;
}
.get_app_img2{
    width: 124px;
}

.get_app_content{
    padding-top: 324px;
}
.get_app_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.get_app_title_text{
    margin-left: 35px;
}
.store_btn_group img{
    width: 30%;
    margin-top: 85px;
}
.get_app_img5{
    margin-top: 140px;
    margin-left: 200px;
    width: 50%;
}
@media screen and (max-device-width:992px){
    .get_app_content{
        text-align: center;
    }
    .get_app_img4{
        left: 0;
    }
}
@media screen and (max-device-width:768px){
    .get_app_img5{
        margin-top: 40px;
        margin-left: 0;
        width: 75%;
    }
    .get_app_title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .get_app_title_text{
        margin-left: 0;
    }
    .store_btn_group img{
        width: 45%;
        margin-top: 20px;
    }
    .get_app_img4{
        top: 3%;
        width: 75%;
    }
}
/* end style for the get_app section*/

/* style for services */
.services{
    width: 100%;
    background-image: url('../img/local_restaurant_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.services_wrapper{
    padding: 270px 270px 75px 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.services_item{
    display: flex;
    flex-direction: row;
}
.left_services_item{
    justify-content: flex-end;
    padding-right: 90px;
}
.right_services_item{
    justify-content: flex-start;
    padding-left: 90px;
}
.services_divider{
    display: block;
    width: 2px;
    height: 400px;
    background-color: #d9dadb;
}
.services_title{
    font-size: 25px;
    color: #5fb709;
    font-family: "KayakSans_Bold";
    margin-top: 23px;
}
.services_text{
    font-size: 15px;
    color: #303030;
    margin-top: 40px;
    font-family: "KayakSans";
}
.services_btn{
    border: none;
    border-radius: 9px;
    background-color: #5fb709; 
    color: #fff;
    padding: 21px 37px;
    font-family: "KayakSans_Bold";
    font-size: 25px;
    margin-top: 35px;
}
.services_btn:active{
    border: none;
}
@media screen and (max-device-width:1200px){
    .services_wrapper{
        padding: 270px 50px 75px 50px;
    }
}
@media screen and (max-device-width:992px){
    .services_wrapper{
        padding: 150px 10px 75px 10px;
    }
    .services_btn{
        width: 100%;
        padding: 15px 37px;
        margin-top: 15px;
        font-size: 15px;
    }
    .services_text{
        margin-top: 10px;
    }
}

@media screen and (max-device-width:768px){
    .services_divider{
        display: none;
    }
    .services_wrapper{
        padding: 150px 0 125px 0;
        flex-direction: column;
        text-align: center;
    }
    .left_services_item{
        justify-content: flex-end;
        padding-right: 0;
        padding-bottom: 30px;
    }
    .right_services_item{
        justify-content: flex-start;
        margin-top: 30px;
        padding-left: 0;
    }
}
/* end style for services */

/* style for footer */
.footer{
    width: 100%;
    background-color: #262626;
}
.footer_empty_head{
    height: 133px;
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
}

.footer_copyright{
    color: #656565;
    font-size: 16px;
    padding-top: 45px;
    padding-bottom: 23px;
}
/* ens style for footer*/